#include <torch/extension.h>
#include <torch/library.h>

constexpr int NUM = {{NUM}}; 

torch::Tensor num_add_cpu(
    const torch::Tensor& a,
    int64_t b) {
  TORCH_CHECK(a.scalar_type() == torch::kFloat, "expected float tensor");
  TORCH_CHECK(a.device().is_cpu(), "expected CPU tensor");
  TORCH_CHECK(b == NUM, "expected num to match build-time NUM");

  torch::Tensor a_contig = a.contiguous();
  torch::Tensor result = torch::empty_like(a_contig);

  const float* a_ptr = a_contig.const_data_ptr<float>();
  float* result_ptr = result.mutable_data_ptr<float>();
  std::cout << "USING SPECIALIZED C++ EXTENSION" << std::endl; 
  for (int64_t i = 0; i < result.numel(); i++) {
    result_ptr[i] = a_ptr[i] + NUM;
  }
  return result;
}

torch::Tensor forward_op_autograd(const torch::Tensor& a, int64_t b) {
  static auto op =
      c10::Dispatcher::singleton()
          .findSchemaOrThrow("{{LIBRARY_NAME}}::forward_op", "")
          .typed<torch::Tensor(const torch::Tensor&, int64_t)>();
  
  std::cout << "Aye, I'm redispatching here!" << std::endl; 

  const bool grad_enabled = at::GradMode::is_enabled();
  const bool a_needs_grad = a.requires_grad();

  if (grad_enabled && a_needs_grad){
    return op.redispatch(c10::DispatchKeySet(c10::DispatchKey::CompositeImplicitAutograd), a, b);
  } else {
    return op.redispatch(c10::DispatchKeySet(c10::DispatchKey::CPU), a, b);
  }
}


TORCH_LIBRARY_IMPL({{LIBRARY_NAME}}, CPU, m) {
  m.impl("forward_op", num_add_cpu);
};

TORCH_LIBRARY_IMPL({{LIBRARY_NAME}}, AutogradCPU, m) {
  m.impl("forward_op", forward_op_autograd);
}

PYBIND11_MODULE(TORCH_EXTENSION_NAME, m) {}
